
@{
    ViewBag.Title = @Resources.I18n.ElectronicReception;
}

<h2 class="text-center">@Resources.I18n.ElectronicReception</h2>
<hr />

<h5>
    В соответствии с Законом Республики Беларусь "Об обращениях граждан и юридических лиц" от 18.07.2011 г. №300-З (действует с 22 января 2012 года)
    Вы можете направить свое электронное обращение руководству предприятия. Обращения излагаются на белорусском или русском языке.
</h5>

<h5>
    Пожалуйста, внимательно ознакомтесь с общими требованиями подготовки интернет-обращений:
</h5>

<h5>
    &emsp;&emsp;1. Обращения, поступившие на данный раздел сайта, рассматриваются в сроки, установленные законодательством Республики Беларусь.<br /> 
    &emsp;&emsp;2. Обращения могут быть оставлены без рассмотрения по существу, если содержат нецензурные либо оскорбительные слова или выражения.<br /> 
    &emsp;&emsp;3. Ответ на обращение может быть отправлен заявителю в письменном виде или на электронный адрес.<br /> 
</h5>

<h5>
    В случае, если Вы хотите получить письменный ответ на бумажном носителе на Ваш почтовый адрес, 
    Вы должны уведомить об этом в своем электронном обращении. Также Вы можете изложить вопросы,
    предложения по выполнению административных процедур и работе по заявительному принципу "Одно окно".
</h5>

<h5 style="font-weight:bold;color:#165308"><a href='@Url.Action("AddReception", "Reception", new {@type = "YL"})'>@Resources.I18n.LegalPerson</a></h5>
<h5 style="font-weight:bold;color:#165308"><a href='@Url.Action("AddReception", "Reception", new {@type = "FL"})'>@Resources.I18n.PhysicalPerson</a></h5>